DOMAIN=vocabminer.savoliukk.pp.ua

POSTGRES_DB=vocabminer_coursework
POSTGRES_USER=vocabminer
POSTGRES_PASSWORD=vocabminer123

ASPNETCORE_ENVIRONMENT=Development
ApplyMigrations=true
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=vocabminer_coursework;Username=vocabminer;Password=vocabminer123
